<html>
  <head>
    <title>KeepCoding - Django</title>
    <link href="/static/reset.css" rel="stylesheet">
  </head>

  <body>
    <h1>{% block header_text %}{% endblock %}</h1>
    <form method="POST" action="{% block form_action %}{% endblock %}">
      {{ form.title }}
      {% csrf_token %}
      {% if error %}
      <div class="has-error">
        <span class="help-block">{{ error }}</span>
      </div>
      {% endif %}
    </form>
    {% block table %}
    {% endblock %}
  </body>
</html>
