{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KeepCoding - Django</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'reset.css' %}" rel="stylesheet">
  </head>

  <body>

    <ul class="navbar" role="navigation">
      <li><a class="navbar-brand" href="/">KeepCoding Django</a></li>
      <li><a href="{% url 'blogs_list' %}">All blogs</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'blog' user.email %}">My blog</a></li>
      <li><p>Logged in as {{ user.email}}</p></li>
      <li><a href="{% url 'logout' %}">Log out</a></li>
      <li><a href="{% url 'post_create' %}">Create a new post</a></li>

     {% else %}
      <li>
      <form method="POST" action ="{% url 'send_login_email' %}">
        <span>Enter email to log in: </span>
        <input name="email" type="text" />
        {% csrf_token %}
      </form>
      </li>
      {% endif %}
    </ul>

    {% if messages %}
    {% for message in messages %}
    {% if message.level_tag == 'success' %}
    <div class="alert alert-success">{{ message }}</div>
    {% else %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% block header_text %}{% endblock %}
    {% block content %}{% endblock %}

  </body>
  </html>
